.blogs-header {
    flex-wrap: wrap;
    text-align: center;
    padding: 15px;
    min-height: 100vh;
    min-width: 100vw;
}

.blogs-header.light-mode {
    color: black;
    background-color: rgb(245, 245, 245);
}

.blogs-header.dark-mode {
    color: #FFFFFF;
    background-color: rgb(29, 30, 32);
}

.blog-title h1 {
    font-size: 2.5rem;
    min-width: 25vw;
    max-width: 50vw;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    color: #1E1E1E; /* Default color for light mode */
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  }
  
  .dark-mode .blog-title h1 {
    color: #FFFFFF; /* Color for dark mode */
  }

.blogs {
    background: transparent;
    margin: auto;
}
