.header {
    display: flex;
    justify-content: center;
    max-width: 100vw;
  }

  .header.light-mode {
    /* Styles for light mode */
    background-color: #FFFFFF;
    color: #1E1E1E;
  }
  
  .header.dark-mode {
    /* Styles for dark mode */
    background-color: rgb(29, 30, 32);
    color: #FFFFFF;
  }
  
  .nav-header {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
   @media only screen and (max-width: 240px){
  	// example
    .nav-header{
        display: block;
        justify-content: none;
    }
    .brand-toggle .btn {
      padding: 0px 0px;
    }
  }

  .brand-toggle {
    display: flex;
  }
  .brand-toggle .btn {
    padding: 4px 15px;
  }
  
  .navbar {
    box-shadow: none;
    color: #1E1E1E;
  }
  .navbar.light-mode {
    /* Styles for light mode */
    background-color: #FFFFFF;
    color: #1E1E1E;
    font-size: calc(8px + 0.5vw);

  }
  
  .navbar.dark-mode {
    /* Styles for dark mode */
    background-color: rgb(29, 30, 32);
    color: #FFFFFF;
    font-size: calc(8px + 0.5vw);
  }
  
  .navbar-brand.light-mode {
    /* Styles for light mode */
    color: black;
    font-size: calc(10px + 1vw);
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;

  }
  
  .navbar-brand.dark-mode {
    /* Styles for dark mode */
    font-size: calc(10px + 1vw);
    font-weight: bolder;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;

  }
  
  .navbar-nav {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  }
  
  .light-mode .navbar-nav {
    color: #1E1E1E;
  }
  
  .dark-mode .navbar-nav {
    color: #FFFFFF;
  }
  
  
  .navbar-custom {
    background: transparent;
    background-color: transparent;
  }
  
  .navbar-toggler{
    margin: 0px;
    padding: 0px 0px;
  }
  .container-fluid{
    margin: 0px;
    padding: 0px;
  }

  .icon-daynight{
    margin: auto;
    font-size: calc(8px + 0.8vw);
  }