<div class="content" [ngClass]="currentTheme === 'light' ? 'light-mode' : 'dark-mode'">
    <div class="container"><br>
        <div class="title"> <h1>Achieving AWS Solutions Architect - Associate Certification</h1></div>
        <div class="sub-title"> <p>How I passed the AWS Solutions Architect-Associate Certification Exam in 2 Months!</p></div>
        <div class="images"><img src='assets/images/blogs/solutions-architect.png'></div>

        <div class="Credentials"> 
            <h1>Credentials</h1>
            <div class="credentials-certifications">
                <i class="fas fa-link md"></i><a href="https://moccasin-lexine-10.tiiny.site/"><h6>Certificate</h6></a>
            </div>
            <div class="credenstials-badge">
            <i class="fas fa-link md"></i><a href="https://www.credly.com/badges/51c4469f-c0a7-434d-a105-ba3acc0f2326/public_url"><h6>Credly Badge</h6></a>
            </div>
        </div>
        
        <div class="introduction"> 
            <h1>Introduction</h1>
            <p>
                I am pleased to announce that I have successfully obtained the AWS Solutions Architect - Associate certification 🎉! Despite having only two months to prepare, I managed to pass the exam while simultaneously working at Canada Revenue Agency. In this article, I will provide comprehensive insights into the exam, including my preparation strategies and valuable tips. Whether you are currently considering taking this exam or planning for it in the near future, I encourage you to read this article till the end. Let's dive in!
            </p>
        </div>

        <div class="solution-architect"> 
            <h1>What is AWS Solutions Architect Associate Certification?</h1>
            <p>
                With the rise of Cloud Computing, companies have constantly been shifting from running their infrastructure on-premise, to running them on cloud, which offers far more elasticity in terms of scaling and resiliency in case a disaster strikes.
            </p>
            <div class="images"><img src='assets/images/blogs/SA-1.jpg'></div>
            <p>
                The AWS Solutions Architect - Associate certification validates your ability to design and deploy well-architected solutions on AWS, which is the leading cloud provider today. In simple terms, this exam tests your ability to propose an architecture given a specific scenario. For example: a company wants their application to continue running even if an entire AWS region, where that application was hosted, is down due to a disaster. So, how would you design their infrastructure around this use case?
            </p>
            <div class="images"><img src='assets/images/blogs/SA-2.jpg'></div>
        </div>

        <div class="exam-format"> 
            <h1>Exam Format</h1>
            <p>
                In this exam, you will get 65 questions and 130 minutes to answer them which means you get 2 mins per question. You will be graded on a percentile basis on a scale of 100 to 1000 where you will nead to score more than 720 to pass the exam. Based on this information, you can approximate that you will have to answer about 72% of the questions correctly in order to pass. You can refer this link for more details on how scoring works.
            </p>
            <p>
                This exam has a pass / fail criteria. If you pass the exam, your score doesn’t really matter. It will only be written on your score report for your reference. It will not be mentioned anywhere on the certificate.
            </p>
            <p>
                The cost of taking this exam is 150 USD and with taxes it comes up to about 177 USD.
            </p>
        </div>

        <div class="preparation-strategy"> 
            <h1>My Preparation Strategy</h1>
            <p>
                Over a span of two months, I strategically allocated my study time alongside my co-op and coding society responsibilities. On weekdays, I dedicated 1-2 hours, while on weekends, I set aside 4 hours for intensive exam preparation.        
            </p>
            <p>
                For a comprehensive understanding of the AWS Solutions Architect - Associate concepts, I enrolled in Stephane Maarek's highly acclaimed course available on Udemy. This course provided me with valuable insights and served as a foundation for my preparation. To further enhance my knowledge, I purchased two practice test packages by Stephane Maarek and Jon Bonso, each containing six practice tests. Additionally, I utilized a free practice test provided with the course.        
            </p>
            <p>
                Throughout the practice tests, I made it a point to document questions that I answered incorrectly or found challenging, along with their corresponding explanations. This approach enabled me to create a personalized study resource for thorough revision before the exam. To organize my knowledge in a structured manner, I diligently compiled all the information from the course and practice tests into concise notes. For this purpose, I opted for the classic method of note-taking using a physical notebook.
            </p>
            <p>
                Remember, with determination and a structured approach, you can achieve your certification goals. Best of luck on your AWS Solutions Architect - Associate journey!
            </p>
        </div>

        <div class="taking-test"> 
            <h1>Taking the Test</h1>
            <p>
                You have two options for taking the AWS Solutions Architect - Associate certification exam: offline at a testing center or online from the comfort of your home. If testing centers are available in your area, I recommend choosing the offline option. However, if there are no nearby testing centers, you can opt for the online exam.
            </p>
            <p>
                Keep in mind that the online test has strict proctoring measures in place. If the proctor cancels your exam due to any violations, a refund will not be provided. In such cases, you will need to reschedule and retake the exam at a later date.
            </p>
        </div>

        <div class="tips"> 
            <h1>Tips for taking the AWS SAA exam</h1>
            <p>
                To excel in the AWS Solutions Architect - Associate certification exam, I recommend taking multiple practice tests. These tests will familiarize you with common exam topics and closely mirror the actual exam questions.
            </p>
            <p>
                Given the vast amount of information to cover, it's crucial to filter out irrelevant details and create concise notes. This will enable you to efficiently revise key concepts within a short period, typically 1 or 2 days, before the exam.By leveraging practice tests and concise notes, you'll optimize your exam preparation and increase your chances of success.
            </p>
        </div>

        <div class="next-goals"> 
            <h1>My Next Step</h1>
            <p>AWS Developer - Associate Certification</p>
            <br>
        </div>
    </div>
</div>