.vision-header {
    flex-wrap: wrap;
    text-align: center;
    padding: 15px;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
}

.vision-header.light-mode {
    color: black;
    background-color: rgb(245, 245, 245);
}

.vision-header.dark-mode {
    color: #FFFFFF;
    background-color: rgb(29, 30, 32);
}

.vision-title h1 {
    font-size: calc(20px + 1vw);
    min-width: 25vw;
    max-width: 50vw;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    color: black; /* Default color for light mode */
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  }
  
  .dark-mode .vision-title h1 {
    color: #FFFFFF; /* Color for dark mode */
  }

.vision {
    background: transparent;
    margin: auto;
}
