<div class="content" [ngClass]="currentTheme === 'light' ? 'light-mode' : 'dark-mode'">
    <div class="container"><br>
        <div class="title"> <h1>Achieving AWS Cloud Practitioner - Certification</h1></div>
        <div class="sub-title"> <p>How Did I passed the AWS  Cloud Practitioner Certification Exam in 2 weeks!</p></div>
        <div class="images"><img src='assets/images/blogs/aws2.png'></div>

        <div class="Credentials"> 
            <h1>Credentials</h1>
            <div class="credentials-certifications">
                <i class="fas fa-link md"></i><a href="https://moccasin-lexine-10.tiiny.site/"><h6>Certificate</h6></a>
            </div>
            <div class="credenstials-badge">
            <i class="fas fa-link md"></i><a href="https://www.credly.com/badges/590024d3-1c9b-475f-beaf-5ff71884c957/public_url"><h6>Credly Badge</h6></a>
            </div>
        </div>
        
        <div class="introduction"> 
            <h1>Introduction</h1>
            <p>
                I am excited to share the news of my successful achievement of the AWS Cloud Practitioner certification ! Despite having only a short window of two weeks to prepare, I emerged victorious in the exam while effectively managing my responsibilities at Canada Revenue Agency. In this article, I will take you through my experience, providing valuable insights into the exam, sharing my preparation strategies, and offering practical tips. Whether you're contemplating taking the AWS Cloud Practitioner exam or have it on your horizon, I invite you to join me on this captivating read. Let's embark on this inspiring journey together and unlock the power of AWS Cloud Practitioner certification!            </p>
        </div>

        <div class="solution-architect"> 
            <h1>What is AWS Cloud Practitioner Certification?</h1>
            <p>
                With the rise of Cloud Computing, companies have constantly been shifting from running their infrastructure on-premise, to running them on cloud, which offers far more elasticity in terms of scaling and resiliency in case a disaster strikes.
            </p>
            <div class="images"><img src='assets/images/blogs/SA-1.jpg'></div>
            <p>
                The AWS Cloud Practitioner certification validates your foundational knowledge of AWS cloud services and provides a solid understanding of how to navigate the AWS platform. This certification is designed for individuals who are new to the cloud and want to gain a broad understanding of AWS services, architectural best practices, and cloud concepts. It equips you with the skills to identify AWS services, understand basic architectural principles, and comprehend the value proposition of AWS. Prepare to explore the world of cloud computing and take your first step towards becoming a proficient AWS Cloud Practitioner.
            </p>
            <div class="images"><img src='assets/images/blogs/cp-1.png'></div>
        </div>

        <div class="exam-format"> 
            <h1>Exam Format</h1>
            <p>
                The AWS Cloud Practitioner exam comprises 65 questions that need to be answered within a time limit of 90 minutes. This allows you an average of around 1 minute and 23 seconds per question. To pass the exam, you will need to achieve a minimum score of 700 out of a possible scale of 100 to 1000. For a successful outcome, you should aim to answer a significant portion of the questions correctly.            </p>
            <p>
                This exam has a pass / fail criteria. If you pass the exam, your score doesn’t really matter. It will only be written on your score report for your reference. It will not be mentioned anywhere on the certificate.
            </p>
            <p>
                The cost of taking this exam is 100 USD and with taxes it comes up to about 115 USD.
            </p>
        </div>

        <div class="preparation-strategy"> 
            <h1>My Preparation Strategy</h1>
            <p>
                Over the course of two weeks, 6 hours a day, I diligently managed my study time while balancing my commitments to work and other responsibilities. To optimize my preparation for the AWS Cloud Practitioner certification, I followed a structured approach.
            </p>
            <p>
                In the first week, I dedicated my focus to completing an extensive course by Stephen Marek available on Udemy. This highly regarded course provided me with a comprehensive understanding of the key concepts and fundamentals required for the certification.
            </p>
            <p>
                For the second week, I engaged in rigorous practice tests to solidify my knowledge and enhance my exam readiness. I specifically relied on the practice tests designed by Stephen Marek, leveraging his expertise to simulate the exam environment effectively.
            </p>
            <p>
                To organize my knowledge in a structured manner, I diligently compiled all the information from the course and practice tests into concise notes. For this purpose, I opted for the classic method of note-taking using a physical notebook.
            </p>
        </div>

        <div class="taking-test"> 
            <h1>Taking the Test</h1>
            <p>
                You have two options for taking the AWS Cloud Practitioner certification exam: offline at a testing center or online from the convenience of your home. If there are testing centers available in your vicinity, I recommend selecting the offline option. However, if there are no nearby testing centers or you prefer the flexibility of an online exam, you can choose the online option.
            </p>
            <p>
                Keep in mind that the online test has strict proctoring measures in place. If the proctor cancels your exam due to any violations, a refund will not be provided. In such cases, you will need to reschedule and retake the exam at a later date.
            </p>
        </div>

        <div class="tips"> 
            <h1>Tips for taking the AWS CLF-C01 exam</h1>
            <p>
                Complete the Stephen marek Course ASAP: Enroll in a AWS Cloud Practitioner course and prioritize completing it as soon as possible. This will provide you with a comprehensive understanding of AWS services, architectural principles, and cloud concepts.
            </p>
            <p>
                Solve 6 Practice Test Cases: Practice is crucial for exam readiness. Solve at least six practice test cases to familiarize yourself with the exam format, assess your knowledge gaps, and improve your time management skills. Reputable sources such as Stephen Marek offer practice tests that closely resemble the actual exam, ensuring you're well-prepared.
            </p>
        </div>

        <div class="next-goals"> 
            <h1>My Next Step</h1>
            <p>AWS Solutions Architect - Associate Certification</p>
            <br>
        </div>
    </div>
</div>