.card {
    margin: auto;
    margin-top: 3rem;
    max-width: 70rem;
    min-width: 15rem;
    height: 40rem;
    min-height: 12rem;
    border: 1px solid beige;
    border-radius: 6px;
}

.card.light-mode {
    border-color: beige;
    
}

.card.dark-mode {
    background-color: rgb(29, 30, 32);
}

.card img {
    max-width: 35rem;
    max-height: 35rem;
    min-width: 15rem;
     min-height: 15rem;
    border-radius: 25%;
    margin: auto;
    padding: 15px;
    background-color: transparent;
    object-fit: contain;
}
.card .card-body .card-title {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-weight: bold;
    color: black;
    font-size: calc(16px + 1vw);

}

.card .card-body .card-title.dark-mode {
    color: white;
}
