.profile {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    justify-content: center;
    background: rgb(245, 245, 245);
    margin: auto;
}

.profile.light-mode {
    /* Styles for light mode */
    background: rgb(245, 245, 245);
    color: #1E1E1E;
}

.profile.dark-mode {
    /* Styles for dark mode */
    background: rgb(29, 30, 32);
    color: #FFFFFF;
}

.profile .profile-content {
    max-width: 100vw;
    min-width: 25vw;
}
.profile .profile-content .profile-img {
    max-width: 100vw;
    min-width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.profile .profile-content .profile-img img {
    border-radius: 35%;
    min-width: 65px;
    min-height: 85px;
    max-height: 185px;
}

.profile .profile-content .profile-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 1vw);

}

.profile.light-mode .profile-content .profile-name h1 {
    color: black;
    max-width: 100vw;
    min-width: 25vw;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: calc(20px + 1vw);

}

.profile.dark-mode .profile-content .profile-name h1 {
    color: white;
    max-width: 100vw;
    min-width: 25vw;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: calc(20px + 1vw);

}


.profile .profile-content .profile-info {
    max-width: 45vw;
    min-width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    // padding: 12px;
    text-shadow: none;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    font-size: calc(10px + 0.5vw);
    line-height: 1.4;
    word-break: break-word;
}
.footer{
    max-width: 100vw;
    min-width: 25vw;
    margin-top: 12px;
}
.profile .profile-content .social-logos {
    /* common styles for both light and dark mode */
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-height: 55px;
    min-height: 25px;
    max-width: 100vw;
    min-width: 30vw;
  }
  
  .profile.light-mode .profile-content .social-logos {
    /* Styles for light mode */
    background: rgb(245, 245, 245);
    color: #1E1E1E;

  }
  
  .profile.dark-mode .profile-content .social-logos {
    /* Styles for dark mode */
    background: rgb(29, 30, 32);
    color: #FFFFFF;
  }
  .profile.dark-mode .profile-content .social-logos .logos{
    display: flex;
    justify-content: space-between;
  }
  
.icon-lg {
    font-size: calc(16px + 0.5vw);
    
}
