<div class="profile" [ngClass]="currentTheme === 'light' ? 'light-mode' : 'dark-mode'">
    <div class="profile-content">
        <div class="view overlay zoom profile-img ">
            <img  src="assets/images/IMG-5576.jpg"  class="img-fluid rounded-pill" alt="Profile Photo">
        </div>
        <div class="profile-name" [ngClass]="currentTheme === 'light' ? 'light-mode' : 'dark-mode'">
            <h1>Anas Malvat</h1>
        </div>
        <div class="profile-info">
            <span>
                Hi 👋, I'm Anas, a 🎓 <strong>Masters in Applied Computer Science </strong> graduate from <strong>🏫 Dalhousie University</strong>. I have a strong passion for <strong>💻 Backend Development, Cloud Technologies, 🚀DevOps</strong>, and Front-End development with <strong> Angular</strong> and<strong> React</strong>. I am also a AWS Certified Solutions Architect. During my co-op experience at Canada Revenue Agency, I gained valuable knowledge in technologies such as <strong>Jenkins, OpenShift, Java, Angular, and gRPC.</strong> In addition, I am a co-founder of  🌟 Dalhousie Computer Science Leaders, where we help students prepare for coding interviews and enhance their problem-solving skills. When I have free time, you can find me solving coding problems on <strong>GeeksForGeeks</strong>, 💪 working out, or immersing myself in 📚 books.
            </span>
        </div>
        <div class="profile-social-icons">
<!-- Footer -->
<footer class="">
        <!-- Section: Social media -->
        <section  class="social-logos">
        <!-- Right -->
        <div class="logos">
            <a href="mailto:anaskail2737@gmail.com" class="ms-5 me-5 text-reset">
                <i class="fab fa-google icon-lg"></i>
            </a>
            <a href="https://www.instagram.com/anas_malvat_" class="me-5 text-reset">
                <i class="fab fa-instagram icon-lg"></i>
            </a>
            <a href="https://www.linkedin.com/in/anas-malvat-8a95b81a3/" class="me-5 text-reset">
                <i class="fab fa-linkedin icon-lg"></i>
            </a>
            <a href="https://github.com/ANASMALVAT/" class="me-5 text-reset">
                <i class="fab fa-github icon-lg"></i>
            </a>
            <a href="https://moccasin-elyse-18.tiiny.site/" class="me-5 text-reset">
                <i class="fas fa-file icon-lg"></i>
            </a> 
        </div>
        <!-- Right -->
        </section>
    </footer>
        </div>
    </div>
</div>
